<div class="clear"></div>
<div class="footer">
    <div class="small_head full_w clear">
        <div class="small_head_stick"></div>
        <div class="small_head_text">友情链接</div>
    </div>
    <div class="friend_link clear">
        <div class="link_row">
            <span>企业会员</span><a href="http://www.xxx.org/">XXX</a>
        </div>
    </div>

</div>

<div class="copy_right">
    <div class="cp_wrapper">
        <div class="cp_logo"><img class="" width="100" src="images/logo.gif"></div>
        <div class="cp_info">
            <span> <a href="#">商会概况</a> | <a href="#">申请入会</a> | <a href="#">机构设置</a> | <a href="#">联系我们</a> | <a
                    href="#">回到顶部</a></span>
            <span>主办：<a href="#">XX市XX商会</a> 地址：上海市八一路001号XX大酒店1406室 电话：021-1234657</span>
            <span>技术支持：<a href="#">XX工作室</a></span>
        </div>
    </div>
</div>
</body>
</html>